body {
  padding: 0;
  margin: 0;
}

.container {
  background-color: rgb(233, 232, 232);


}

.headerContainer {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  border: 1px solid gray;
  background-color: rgb(247, 244, 246);
  box-shadow: 5px 9px 19px -11px rgba(107, 87, 107, 0.84);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.imageAvatar {

  width: 27px;
  height: 27px;
  border-radius: 50%;
  object-fit: contain;
  /* object-fit property is specified to image style */
}

.instagramLogo {
  width: 130px;
  height: 130;
  object-fit: contain;
}

/* search-bar in header -------------------------------------*/
input {

  width: 200px;
  padding-left: 80px;
  box-sizing: border-box;

  background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-128.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 62px 0;
}

input:focus {
  padding-left: 16px;
  background-position: 0;
}

/*----------------------------------------------------------*/

@media only screen and (max-width: 600px) {
  .searchbar-container {
    order: 2;
  }

  .icons-container {
    order: 1;
  }

  .instagram-logo-container {
    order: 0;
  }

  .card-pic {
    max-width: 400px;
    max-height: 400px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .responsive-story {
    margin-top: 22px;
  }

  .post-container {
    margin-top: 72px;
  }
}

/*
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .responsive-story {
    margin-top: 4px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .post-container {
    margin-top: 72px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .post-container {
    margin-top: 0px;
  }

}

@media only screen and (max-width: 1230px) {
  #test {
    width: 100%;
  }

  .right_side-container {
    visibility: hidden;
  }

  /*.post-container {
    margin-top: px;
  }*/
}

.instagram-logo-container {
  /*order: 0;*/
  display: flex;
  flex-grow: .3;
  justify-content: center;
  padding: 10px 0 10px 0;

}

.searchbar-container {
  /*order: 1;*/
  display: flex;
  flex-grow: .3;
  justify-content: center;

}

.icons-container {
  /*order: 2;*/
  display: flex;
  flex-grow: .4;
  align-items: center;
  justify-content: center;

}


.responsive-story {
  width: 0;
  position: fixed;
  left: 0;
  top: 58px;
  border: 2px solid lightgray;
  background-color: rgb(247, 244, 246);

}

.container-story-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  align-items: center;


}

.container-story-content-story>img {
  padding: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid red;
}

.container-story-content>div,
.container-story-content-story {
  min-width: 80px;
  text-align: center;
  margin: 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

}

.instagram-body-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-evenly;
  margin-top: 80px;
  height: 100%;
  background-color: rgb(236, 232, 232);
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.total-card {
  border: 2px solid lightgray;
  background-color: white;
  align-items: center;
  margin: 20px 0px;
  /*display: flex;*/

}

.Card-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.Card-Header>div {
  display: flex;
  flex-direction: row;
}

.Card-Header>div>img {
  width: 35px;
  height: 35px;
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  object-fit: contain;
}

.card-pic {
  max-width: 600px;
  max-height: 600px;

}

@keyframes batool {
  0% {
    transform: rotate(0deg)
  }

  25% {
    transform: rotate(90deg)
  }

  50% {
    transform: rotate(180deg)
  }
  75%{
    transform: rotate(270deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.card-pic>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: batool ease 5s;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* name ----- duration */
}

.card-pic>img:hover{
  transform: scale(1.5);
}

.card-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.card-comments {
  padding: 0 10px;
}

.card-footer {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
}

.right_side-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*position: fixed;
  margin-top: 120px;*/
}

.right_side-container>div>div>img {
  width: 50px;
  height: 50px;
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  margin: 0 10px;
  padding: 2px;
  object-fit: contain;
}

.Story {
  border: 2px solid lightgray;
  margin: 10px 0;
}

.story-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  background-color: white;
}

.story-body {
  width: 300px;
  height: 200px;
  background: white;
  overflow-y: auto;
  /*to create list with scroll*/
}

.story-body>div {
  display: flex;
  flex-grow: .3;
  align-items: flex-start;
}

.story-body>div>div {
  flex-direction: column;
  justify-content: flex-end;
  line-height: 0em;
  padding-top: 6px
}

.story-body>div>img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: fill;
  border: 2px solid red;
  padding: 2px;
}


.suggestions {
  border: 2px solid lightgray;
  background-color: white;
  /*  display: flex;
   flex-direction: column;
   justify-content: center; */
}

.suggestions-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  background-color: white;
}

.suggestions-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.suggestions-body>div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.suggestions-body>div>div>img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: fill;
}